@import "../../../public/static/styles/variables";

.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  position: absolute;
  top: var(--top-edge-position);
  left: var(--box-leftEdge-position);
  right: var(--right-edge-position);
  bottom: var(--bottom-edge-position);
  z-index: 1010;

  @media (max-width: #{$breakpoint-lg - 0.05}) {
    left: var(--left-edge-position);
  }
}
