@import "../../../public/static/styles/variables";

.root {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  z-index: 1020;

  @media (max-width: #{$breakpoint-sm - 0.05}) {
    bottom: 1rem;
    left: 1rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.switch {
  margin-top: 2rem;
}

.navItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-secondary-color);
  transition: color 240ms ease;

  &:not(.active):hover {
    color: var(--text-primary-color);
  }

  & + & {
    margin-top: 0.5rem;
  }

  & > * + * {
    padding-left: 0.5rem;
  }

  &.active {
    color: var(--text-primary-color);
    font-weight: var(--text-weight-medium);
  }

  @media (max-width: #{$breakpoint-lg - 0.05}) {
    flex-direction: column;
    align-items: flex-start;

    & + & {
      margin-top: 1rem;
    }

    & > * + * {
      padding-left: 0;
    }
  }
}
