.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1010;
}

.grid {
  position: absolute;
  border-color: var(--divider-color);
  border-width: 1px;
  border-style: dashed;
}

.box {
  position: absolute;
  &::before {
    content: "";
    display: block;
    height: calc(100% - 2px);
    border-color: var(--divider-color);
    border-width: 1px;
    border-style: dashed;
    width: 0;
  }
  & > * {
    @extend .grid;
  }
}
