.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leftEdge {
  position: absolute;
  left: 48px;
  top: 0;
  bottom: 0;
  border-left: 1px dashed var(--divider-color);
}

.titleEdge {
  position: absolute;
  left: 231px;
  top: 0;
  bottom: 0;
  border-left: 1px dashed var(--divider-color);
}

.mainLeftEdge {
  position: absolute;
  left: 540px;
  top: 0;
  bottom: 0;
  border-left: 1px dashed var(--divider-color);
}

.mainRightEdge {
  position: absolute;
  right: 48px;
  top: 0;
  bottom: 0;
  border-left: 1px dashed var(--divider-color);
}

.mainBottomEdge {
  position: absolute;
  right: 0;
  left: 0;
  top: 48px;
  border-top: 1px dashed var(--divider-color);
}

.mainTopEdge {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 48px;
  border-bottom: 1px dashed var(--divider-color);
}
