@import "variables";

.title {
  @media (max-width: #{$breakpoint-sm - 0.05}) {
    font-size: var(--text-h6-size);
  }
}

.subtitle {
  @media (max-width: #{$breakpoint-sm - 0.05}) {
    font-size: var(--text-body-small-size);
  }
}

.referenceLine {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--primary-contrast-color);

  @media (max-width: #{$breakpoint-lg - 0.05}) {
    left: 25.75rem;
  }
}

.reference {
  position: absolute;
  right: 0;
  bottom: 0.75rem;
  font-size: var(--text-caption-size);
  font-weight: var(--text-weight-medium);
  color: var(--text-secondary-color);

  & > svg {
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: translate(-2.5rem, 2px);
  }

  @media (max-width: #{$breakpoint-lg - 0.05}) {
    &::after {
      left: 25.75rem;
    }
  }

  @media (max-width: #{$breakpoint-sm - 0.05}) {
    display: none;
  }
}

.crossImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  transform: translate(-200%, 100%);

  @media (max-width: #{$breakpoint-lg - 0.05}) {
    display: none;
  }
}

.slogan {
  position: absolute;
  padding: 1rem;
  border-top: 1px dashed var(--divider-color);
  top: var(--row-3-relative-y);
  left: 0;
  width: calc(var(--box-leftEdge-position) - var(--title-leftEdge-position));
  transform: translateX(-100%);

  & > strong {
    font-size: var(--text-h6-size);
  }

  & > small {
    font-size: var(--text-subtitle-small-size);
    font-weight: var(--text-weight-light);
  }

  & > p {
    font-size: var(--text-body-small-size);
    margin: 0;
    margin-top: 1rem;
  }

  @media (max-width: #{$breakpoint-lg - 0.05}) {
    left: 5.6875rem;
    top: auto;
    transform: none;
    bottom: 20rem;
    background-color: var(--deco-box-color);
    border: none;
    width: auto;
  }

  @media (max-width: #{$breakpoint-sm - 0.05}) {
    display: none;
  }
}
