.root {
  display: inline-flex;

  &.active {
    .input {
      background-color: var(--text-primary-color);
    }

    .indicator {
      background-color: var(--primary-contrast-color);
      transform: translateX(0.75rem);
    }
  }
}

.vertical {
  flex-direction: column-reverse;

  & .label {
    margin-bottom: 0.5rem;
  }
}

.horizontal {
  align-items: center;
  flex-direction: row-reverse;

  & .label {
    margin-right: 0.5rem;
  }
}

.input {
  height: 0.875rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 1px var(--text-primary-color);
  background-color: transparent;
  position: relative;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 240ms ease-in-out;
}

.indicator {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: var(--text-primary-color);
  position: absolute;
  left: 0;
  transform: translateX(2px);
  transition: transform 240ms ease-in-out, background-color 240ms ease-in-out;
}

.label {
  font-weight: var(--text-weight-medium);
}
