@import "../../../../public/static/styles/variables";

.root {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (max-width: #{$breakpoint-lg - 0.05}) {
    position: absolute;
    justify-content: flex-end;
    right: -5rem;
    top: 0;
    bottom: 0;
    max-width: 100%;

    & .image {
      max-width: 100%;
    }
  }

  @media (max-width: #{$breakpoint-sm - 0.05}) {
    top: 1rem;
  }
}

.image {
  max-height: 100%;
}
